@model TiendaMusica1.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<h3>Are you sure you want to delete this?</h3>

<p>
    Are you sure you want to delete the album titled
    <strong>@Model.Title</strong>?
</p>

@using (Html.BeginForm())
{
<p>
    @Html.AntiForgeryToken()
    <input type="submit" value="Delete" />
</p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
