

@model List<TiendaMusica1.Models.Album>
@{
    ViewBag.Title = "Tienda Música UPM";
}
<img src="/content/Images/home-showcase.png"  class="img-fluid" >


<h3><em>Fresh</em> off the grill</h3>

<ul id="album-list">
    @foreach (var album in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Tienda", new { id = album.AlbumId })">
                               <img alt="@album.Title" src="@album.AlbumArtUrl" />
                               <span>@album.Title</span>
            </a>
        </li>
    }
</ul>